{% verbatim %}
<script id="pages-home-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box flag-icon short" data-callout-name="alert"><a>Alert</a></div>
	</div>
    <div class="unit span-grid">
      <div class="box-edit box grid-icon" data-box-name="Gallery" data-box-id="109"><a>Slide show</a></div>
    </div>
  </div>
</div>
</script>

<script id="pages-press-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
        <div class="box grid-icon external-link"><a href="/bentobox/press/">Press Clippings<span>Jumps to Boxes to Edit</span></a></div>
	</div>
  </div>
</div>
</script>

<script id="pages-locations-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="multi-unit short span-grid grid-icon">
        <div class="boxes-edit" data-box-name="Location"></div>
    </div>
  </div>
</div>
</script>


<script id="pages-terms-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box text-icon" data-callout-name="terms"><a>Terms</a></div>
  </div>
</div>
</script>

<script id="pages-about-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box text-icon" data-callout-name="the-story"><a>The Story</a></div>
	</div>
    <div class="unit span-grid">
        <div class="box grid-icon external-link"><a href="/bentobox/staff/">Team<span>Jumps to Boxes to Edit</span></a></div>
	</div>
    <div class="unit span-grid">
      <div class="callout-edit box text-icon" data-callout-name="jobs"><a>Jobs</a></div>
	</div>
  </div>
</div>
</script>

<script id="pages-contact-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box text-icon" data-callout-name="contact-intro"><a>Title and Intro</a></div>
	</div>
    <div class="unit two-of-three">
    	<div class="locked box"><a>Contact Form</a></div>
	</div>
    <div class="unit one-of-three">
      <div class="callout-edit box text-icon" data-callout-name="contact-info"><a>Contact Info</a></div>
	</div>
  </div>
</div>
</script>

<script id="pages-catering-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box flag-icon" data-callout-name="catering"><a>Banner and Intro</a></div>
	  </div>
    <div class="unit span-grid">
      <div class="box-edit box grid-icon" data-box-name="Gallery" data-box-id="456"><a>Gallery</a></div>
    </div>
    <div class="unit span-grid">
    	<div class="locked box"><a>Order Form</a></div>
	  </div>
  </div>
</div>
</script>

<script id="pages-private-events-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit one-of-two">
      <div class="callout-edit box text-icon short" data-callout-name="private-events-intro"><a>Private Events Intro</a></div>
	  <div class="multi-unit short grid-icon span-grid">
		<div class="boxes-edit" data-box-name="Venue"></div>
	  </div>
	</div>
    <div class="unit one-of-two">
    	<div class="locked box"><a>Order Form</a></div>
	</div>
  </div>
</div>
</script>

<script id="pages-ice-cream-cakes-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box flag-icon" data-callout-name="ice-cream-cakes"><a>Banner and Intro</a></div>
	  </div>
  </div>
</div>
</script>

{% endverbatim %}