{% extends 'base.html' %}
{% load honeypot %}

{% block page_title %}{{account.site_title}} | Catering{% endblock %}

{% block body_class %}page-catering page-two-columns{% endblock %}

{% block content %}
<div id="banner" class="full-background" style="background-image:url('{{callouts.5.image_url}}')">
	<div class="width-wrapper">
		{% if callouts.5.button_text and callouts.5.button_file_path %}
			<a href="{{callouts.5.button_file_url}}" target="_blank" class="button">{{callouts.5.button_text}}</a>
		{% endif %}
		<a href="#order-form" class="button">request an order</a>
	</div>

{% for gallery in galleries %}{% if gallery.name == "Catering Gallery" and gallery.images.all|length > 0 %}
  <div class="delivery-button" id="see-photo">
    <div class="inner">
      <div class="delivery">see photos</div>
    </div>
  </div>
{% endif %}{% endfor %}

</div>
<div id="content">
	<div class="width-wrapper">
		<form action="{% url 'form_to_email' %}" method="post" id="order-form">
      {% if callouts.5.title %}
			<h1>{{callouts.5.title}}</h1>
      {% endif %}
			<div class="padder">
        {% if callouts.5.subtitle %}
				<h3>{{callouts.5.subtitle}}</h3>
        {% endif %}
				<div class="wysiwyg intro">{{callouts.5.text|safe}}</div>

				{% csrf_token %}
				{% render_honeypot_field %}
				<input type="hidden" name="recipient" id="recipient" value="party" />

				<div class="field order-name">
					<label for="order_name">name for the order*</label>
					<input type="text" name="Order Name" id="order_name" required="required" class="form-text" />
				</div>
				<div class="field email">
					<label for="email">your email*</label>
					<input type="email" name="Email" id="email" required="required" class="form-text" />
				</div>
				<div class="field phone-number">
					<label for="phone_number">phone number*</label>
					<input type="text" name="Phone Number" id="phone_number" required="required" class="form-text" />
				</div>
				<div class="field">
					<label for="deliv_location">delivery location</label>
					<input type="text" name="Delivery Location" id="deliv_location" class="form-text" />
				</div>
				<div class="field">
					<label for="guest_number">number of guests</label>
					<input type="text" name="Number of Guests" id="guest_number" class="form-text" />
				</div>
				<div class="field event-date left-half">
					<label for="event_date">date for order</label>
					<input type="text" name="Order Date" id="event_date" class="form-text date-picker" />
				</div>
				<div class="field event-time right-half">
					<label for="event_time">time for order</label>
					<input type="text" name="Order Time" id="event_time" class="form-text" />
				</div>
				<div class="field">
					<label for="notes">Notes</label>
					<input type="text" name="Notes" id="notes" class="form-text" />
				</div>
				<div class="field submit">
					<input type="submit" id="submit_button" value="submit" class="button" />
				</div>
				<div class="clear"></div>
			</div>
		</form>
		<div class="thank-you">Thank you for contacting us! Someone will be in touch soon.</div>
	</div>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="{{ ACCOUNT_STATIC_URL }}js/dropkick.min.js"></script>
<script type="text/javascript" src="{{ ACCOUNT_STATIC_URL }}js/jquery.plugin.min.js"></script>
<script type="text/javascript" src="{{ ACCOUNT_STATIC_URL }}js/jquery.datepick.min.js"></script>
<script type="text/javascript" src="{{ ACCOUNT_STATIC_URL }}js/jquery.datepick.ext.min.js"></script>
<link rel="stylesheet" href="{{ ACCOUNT_STATIC_URL }}css/jquery.datepick.css" />
<script type="text/javascript">
jQuery(document).ready(function($) {
	$('select.dropkick').dropkick({
		mobile: true
	});
	$('.date-picker').datepick({
//		onDate: $.datepick.noWeekends,
		renderer: $.datepick.themeRollerRenderer,
		showAnim: 'fadeIn',
		showSpeed: 'fast',
//		minDate: +3,
		onChangeMonthYear: function(year, month) {
			$('.ui-datepicker-calendar .ui-state-hover').removeClass('ui-state-hover');
		},
		onShow: function() {
			$('.ui-datepicker-calendar .ui-state-hover').removeClass('ui-state-hover');
		}
	});

	$('#order-form').submit(function(e) {
		if(!$(this).is(':invalid')) {
			e.preventDefault();
			$.ajax({
			  type: "POST",
			  url: $('#order-form').attr('action'),
			  data: $('#order-form').serialize(),
			  success: function(jqXHR, textStatus) {
				$('#order-form').next('.thank-you').show();
			  }
			});
			return false;
		}
	});
  $("#see-photo").click(function() {
    $.fancybox.open([
      {% for gallery in galleries %}{% if gallery.name == "Catering Gallery" %}
        {% for image in gallery.images.all %}
          {
            href : '{{ image.image_url }}'
          }
          {% if not forloop.last %},{% endif %}
        {% endfor %}
      {% endif %}{% endfor %}
    ], {
      helpers : {
        thumbs : {
          width: 75,
          height: 50
        }
      },
      beforeShow : function() {
          this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length;
      }
    });
  });
});
</script>
{% endblock %}
