{% extends 'base.html' %}
{% load honeypot %}

{% block page_title %}{{account.site_title}} | Catering{% endblock %}

{% block body_class %}page-catering page-two-columns{% endblock %}

{% block content %}
<div id="banner" class="full-background" style="background-image:url('{{callouts.5.image_url}}')">
	<div class="width-wrapper">
		{% if callouts.5.button_text and callouts.5.button_file_path %}
			<a href="{{callouts.5.button_file_url}}" target="_blank" class="button">{{callouts.5.button_text}}</a>
		{% endif %}
		<a href="#order-form" class="button">request an order</a>
	</div>

{% for gallery in galleries %}{% if gallery.name == "Catering Gallery" and gallery.images.all|length > 0 %}
  <div class="delivery-button" id="see-photo">
    <div class="inner">
      <div class="delivery">see photos</div>
    </div>
  </div>
{% endif %}{% endfor %}

</div>
<div id="content">
	<div class="width-wrapper">
		<div id="order-form">
			<h1>{{callouts.5.title}}</h1>

      <div class="wysiwyg intro padder">
        <h3>{{callouts.5.subtitle}}</h3>
        {{callouts.5.text|safe}}
      </div>

      <form action="http://mfg.vmgdev.com/catering/test/parm" method="post" id="order-prepare" style="padding-bottom:100px">
        <div class="padder form-fields">
          <div class="field order-name">
            <label for="order_name">name for the order*</label>
            <input type="text" name="Order Name" id="order_name" class="form-text" />
          </div>
          <div class="field order-field order-field-sandwich">
            <label>sandwiches*</label>
            <ul class="items">
            </ul>
            <select id="sandwich" class="dropkick">
              <option disabled selected="selected">Choose</option>
              <option data-descr="" data-price="180" data-type="serves 14-18">Sandwich Tray (Large)</option>
              <option data-descr="" data-price="120" data-type="serves 8-12" >Sandwich Tray (Small)</option>
            </select>
          </div>
          <div class="field order-field order-field-salad">
            <label>salads</label>
            <div class="descr">Each salad order serves 8 - 12 people</div>
            <ul class="items">
            </ul>
            <select id="salad" class="dropkick">
              <option disabled selected="selected">Choose</option>
              <option data-descr="italian-american classic" data-price="50">Sunday</option>
              <option data-descr="walnuts, sherry, goat cheese" data-price="50">Beet</option>
              <option data-descr="feta, olive, cucumber" data-price="50">Greek Farro</option>
              <option data-descr="tricolore, peanuts, tomato" data-price="50">Chopped</option>
              <option data-descr="the classic" data-price="50">Caesar</option>
              <option data-descr="fig, almond, salata" data-price="50">Arugula</option>
            </select>
          </div>
          <div class="field order-field order-field-side">
            <label>sides</label>
            <div class="descr">Each side order serves 8 - 12 people</div>
            <ul class="items">
            </ul>
            <select id="side" class="dropkick">
              <option disabled selected="selected">Choose</option>
              <option data-descr="" data-price="50">Garlic Broccoli</option>
              <option data-descr="" data-price="45">Housemade Mozz</option>
            </select>
          </div>
          <div class="field order-field order-field-dessert">
            <label>desserts</label>
            <div class="descr">Each dessert order serves up to 18 people</div>
            <label class="quantifiable"><input class="form-text" style="" type="text" name="brownie-tray" placeholder="Qty" data-price="60">Brownie Tray $60</label>
          </div>
          <div class="field order-field order-field-beverages-and-utensils">
            <label>beverages and utensils</label>
            <div class="one-of-two">
              <label class="quantifiable"><input class="form-text" style="" type="text" name="diet-coke" placeholder="Qty" data-price="3">Diet Coke (can) $3</label>
            </div>
            <div class="one-of-two last">
              <label class="quantifiable"><input class="form-text" style="" type="text" name="ginger-ale" placeholder="Qty" data-price="3">Ginger Ale (can) $3</label>
            </div>
            <div class="one-of-two">
              <label class="quantifiable"><input class="form-text" style="" type="text" name="coca-cola" placeholder="Qty" data-price="3">Coca Cola (can) $3</label>
            </div>
            <div class="one-of-two last">
              <label class="quantifiable"><input class="form-text" style="" type="text" name="diet-ginger-ale" placeholder="Qty" data-price="3">Diet Ginger Ale (can) $3</label>
            </div>
            <div class="one-of-two">
              <label class="quantifiable"><input class="form-text" style="" type="text" name="club-soda" placeholder="Qty" data-price="3">Club Soda (can) $3</label>
            </div>
            <div class="one-of-two last">
              <label class="quantifiable"><input class="form-text" style="" type="text" name="poland-spring" placeholder="Qty" data-price="3">Poland Spring $3</label>
            </div>
            <div class="one-of-two">
              <label class="quantifiable"><input class="form-text" style="" type="text" name="san-pellegrino" placeholder="Qty" data-price="3">San Pellegrino (330ml) $3</label>
            </div>
            <div class="one-of-two last">
              <label class="quantifiable"><input class="form-text" style="" type="text" name="utensil-set" placeholder="Qty" data-price="0.50">Utensil Set (0.50 ea.)</label>
            </div>
          </div>
          <div class="field submit">
            <input type="submit" id="submit_button" value="next" class="button" />
          </div>
          <div class="clear"></div>
        </div>
      </form>

      <form action="http://mfg.vmgdev.com/catering/test/parm" method="post" id="order-submit" style="display:none">
        <div id="order-view">
          <a href="#" class="order-edit">EDIT</a>
          <div class="order-view">
            <h2>Your Order</h2>
            <ul id="order-view-list">
            </ul>
            <div class="total">
              <div class="price">$0</div>
              <div class="label">total</div>
            </div>
          </div>
        </div>
        <div class="padder form-fields">
          <input type="hidden" name="restaurant_name" id="restaurant_name" value="{{ account.slug }}" />
          <input type="hidden" name="recipient" id="recipient" value="party" />
          <input type="hidden" name="order_total" id="order-total" value="0" />

          <div class="field order" style="display: none">
            <label for="order-summary">order summary</label>
            <textarea id="order-summary" name="order" readonly="readonly" class="form-text"></textarea>
          </div>
          <div class="field email">
            <label for="email">your email*</label>
            <input type="email" name="email" id="email" required="required" class="form-text" />
          </div>
          <div class="field phone-number">
            <label for="phone_number">phone number*</label>
            <input type="text" name="phone_number" id="phone_number" required="required" class="form-text" />
          </div>
          <div class="field method">
            <label for="method">Delivery/Pick Up*</label>
            <select id="method" class="dropkick">
              <option value="delivery">Delivery</option>
              <option value="pickup">Pick-up</option>
            </select>
          </div>

          <div class="delivery-fields">
            <div class="field">
              <label for="deliv_location">delivery address</label>
              <input type="text" name="delivery_address" id="deliv_location" class="form-text" />
            </div>
            <div class="field one-third">
              <label for="deliv_city">city</label>
              <input type="text" name="city" id="deliv_city" class="form-text" />
            </div>
            <div class="field one-third">
              <label for="deliv_state">state</label>
              <input type="text" name="state" id="deliv_state" class="form-text" />
            </div>
            <div class="field one-third last">
              <label for="deliv_zip">zip</label>
              <input type="text" name="zip" id="deliv_zip" class="form-text" />
            </div>
            <div class="field">
              <label for="guest_number">number of guests</label>
              <input type="text" name="number_of_guests" id="guest_number" class="form-text" />
            </div>
            <div class="field">
              <label for="special_delivery_instructions">Special Delivery Instructions</label>
              <input type="text" name="special_delivery_instructions" id="special_delivery_instructions" class="form-text" />
            </div>
          </div>

          <div class="pickup-fields" style="display:none;">
            <div class="field pickup_location">
              <label for="pickup_location">Pickup Location*</label>
              <select id="pickup_location" class="dropkick">
                <option value="nolita">Nolita (248 Mulberry St. between Prince &amp; Spring)</option>
                <option value="battery-park-city">Battery Park City (250 Vesey St. between North End &amp; West)</option>
                <option value="upper-west-side">Upper West Side (235 Columbus Ave. between 70th &amp; 71st)</option>
              </select>
            </div>
          </div>

          <div class="field event-date left-half">
            <label for="event_date">date for order</label>
            <input type="text" name="order_date" id="event_date" class="form-text date-picker" />
          </div>
          <div class="field event-time right-half">
            <label for="event_time">time for order</label>
            <input type="text" name="order_time" id="event_time" class="form-text" />
          </div>

          <div class="field">
            <label for="notes">Notes</label>
            <input type="text" name="notes" id="notes" class="form-text" />
          </div>


          <div class="field submit">
            <input type="submit" id="submit_button" value="submit" class="button" />
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </form>
      <div class="thank-you">Thank you for contacting us! Someone will be in touch soon.</div>

		</div>
	</div>
</div>

<div style="display:none">
  <div id="order-item-form" class="order-popup">
    <form class="padder">
      <div class="field">
        <label id="item-title"></label>
        <div id="item-descr"></div>
        <input type="hidden" id="item-select-id" />
      </div>

      <div class="field sandwich-special check-field">
        <input type="checkbox" id="italian-combo" class="checkbox additional-check" data-text="Italian Combo" data-long-text="Include Italian Combo" data-price="0"/>
        <label for="italian-combo" class="check-label"><span class="box"></span>Include Italian Combo <span class="check-description">Mortadella, Ham, Soppressata, Pepperoni, Provolone, Zesty</span></label>
      </div>
      <div class="field sandwich-special check-field">
        <input type="checkbox" id="chicken-salad" class="checkbox additional-check" data-text="Chicken Salad" data-long-text="Include Chicken Salad" data-price="0"/>
        <label for="chicken-salad" class="check-label"><span class="box"></span>Include Chicken Salad <span class="check-description">Roasted Chicken, Zesty Mayo, Glazed Bacon, Potato Chips, Lettuce, Tomato</span></label>
      </div>
      <div class="field sandwich-special check-field">
        <input type="checkbox" id="house-turkey" class="checkbox additional-check" data-text="House Turkey" data-long-text="Include House Turkey" data-price="0"/>
        <label for="house-turkey" class="check-label"><span class="box"></span>Include House Turkey <span class="check-description">Roasted Turkey, House Spicy, Lettuce, Tomato, Red Onion, Mayo</span></label>
      </div>
      <div class="field sandwich-special check-field">
        <input type="checkbox" id="ham-and-cheese" class="checkbox additional-check" data-text="Ham and Cheese" data-long-text="Include Ham and Cheese" data-price="0"/>
        <label for="ham-and-cheese" class="check-label"><span class="box"></span>Include Ham and Cheese <span class="check-description">Ham, American, Lettuce, Tomato, Mustard</span></label>
      </div>
      <div class="field sandwich-special check-field">
        <input type="checkbox" id="roast-beef" class="checkbox additional-check" data-text="Roast Beef" data-long-text="Include Roast Beef" data-price="0"/>
        <label for="roast-beef" class="check-label"><span class="box"></span>Include Roast Beef <span class="check-description">Roasted Beef, Provolone, Broccoli Rabe, Zesty Mayo</span></label>
      </div>
      <div class="field sandwich-special check-field">
        <input type="checkbox" id="prosciutto-and-mozz" class="checkbox additional-check" data-text="Prosciutto and Mozz" data-long-text="Include Prosciutto and Mozz" data-price="0"/>
        <label for="prosciutto-and-mozz" class="check-label"><span class="box"></span>Include Prosciutto and Mozz <span class="check-description">Prosciutto, Mozz, Basil</span></label>
      </div>
      <div class="field sandwich-special check-field">
        <input type="checkbox" id="caprese" class="checkbox additional-check" data-text="Caprese" data-long-text="Include Caprese" data-price="0"/>
        <label for="caprese" class="check-label"><span class="box"></span>Include Caprese <span class="check-description">Mozz, Zesty Tomatoes, Basil</span></label>
      </div>

      <div class="field salad-special check-field">
        <input type="checkbox" id="add-chicken" class="checkbox additional-check" data-text="Scallopini" data-long-text="Chicken Scallopini" data-price="30"/>
        <label for="add-chicken" class="check-label"><span class="box"></span>Add Chicken Scallopini +$30</label>
      </div>
      <div class="field salad-special check-field">
        <input type="checkbox" id="add-avocado" class="checkbox additional-check" data-text="Avocado" data-long-text="Avocado" data-price="12"/>
        <label for="add-avocado" class="check-label"><span class="box"></span>Add avocado +$12</label>
      </div>
      <div class="field">
        <label for="item-qty">qty</label>
        <input type="text" id="item-qty" class="form-text text-small" maxlength="3"/>
      </div>
      <div class="field">
        <label for="item-comment">comments</label>
        <textarea id="item-comment" class="form-text"></textarea>
      </div>
      <div class="field submit">
        <input type="submit" value="submit" class="button submit-button" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:$.fancybox.close()" class="cancel">CANCEL</a>
      </div>
      <div class="clear"></div>
    </form>
  </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="{{ ACCOUNT_STATIC_URL }}js/dropkick.min.js"></script>
<script type="text/javascript" src="{{ ACCOUNT_STATIC_URL }}js/jquery.plugin.min.js"></script>
<script type="text/javascript" src="{{ ACCOUNT_STATIC_URL }}js/jquery.datepick.min.js"></script>
<script type="text/javascript" src="{{ ACCOUNT_STATIC_URL }}js/jquery.datepick.ext.min.js"></script>
<link rel="stylesheet" href="{{ ACCOUNT_STATIC_URL }}css/jquery.datepick.css" />
<script type="text/javascript" src="{{ ACCOUNT_STATIC_URL }}js/jquery-ui.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$('select.dropkick').dropkick({
		mobile: true,
    initialize: function() {
      if(this.form.id == "order-prepare"){
        var thisdropkick = this;
        $(this.options).each(function(i) {
          var thisoption = $(thisdropkick.data.select).find('option').eq(i);
          $(this).text(thisoption.text() + ' ' + (thisoption.attr('data-type')||'') + ' $' + thisoption.attr('data-price'));
        });
      }
      if(this.data.select.id == "method") {
        $(this).trigger('change');
      }
    },
    change: function() {
      if(this.form.id == "order-prepare"){
        if (this.selectedIndex > 0) {
          var cur_sel = this.selectedIndex;
          var this_select = this.data.select;
          $.fancybox({
            padding: [30, 50, 20, 50],
			     wrapCSS: 'order-popup-wrap',
            helpers: {
              overlay: {
                closeClick: false
              }
            },
            href: '#order-item-form',
            beforeShow: function() {
              $('.fancybox-overlay').addClass('member-popup-overlay');
              var thisoption = $('option', this_select).eq(cur_sel);
              $('#item-title', this.content).text(thisoption.text()).data('item', thisoption);
              $('#item-descr', this.content).html((thisoption.attr('data-type')||'') + " <strong>$" +
                                                  thisoption.attr('data-price') + "</strong><br />" +
                                                  thisoption.attr('data-descr'));
              $('#item-select-id', this.content).val($(this_select).attr('id'));
              $('.form-text', this.content).val('');
              $('.field input.checkbox').attr('checked', false);

              if ($(this_select).is('#salad')) {
                $('.field.salad-special', this.content).show();
              } else {
                $('.field.salad-special', this.content).hide();
              }
              if ($(this_select).is('#sandwich')) {
                $('.field.sandwich-special', this.content).show();
                $("label[for=item-qty]").text("Number of Platters");
              } else {
                $('.field.sandwich-special', this.content).hide();
                $("label[for=item-qty]").text("Qty.");
              }

            }
          });
          this.selectOne(0, true);
        }
      }
      if(this.data.select.id == "method") {
        if($(this.data.select).val() == "delivery") {
          $(".pickup-fields").hide();
          $(".delivery-fields").show();
        } else if($(this.data.select).val() == "pickup") {
          $(".pickup-fields").show();
          $(".delivery-fields").hide();
        }
      }
    }
	});

	$('.date-picker').datepick({
//		onDate: $.datepick.noWeekends,
		renderer: $.datepick.themeRollerRenderer,
		showAnim: 'fadeIn',
		showSpeed: 'fast',
//		minDate: +3,
		onChangeMonthYear: function(year, month) {
			$('.ui-datepicker-calendar .ui-state-hover').removeClass('ui-state-hover');
		},
		onShow: function() {
			$('.ui-datepicker-calendar .ui-state-hover').removeClass('ui-state-hover');
		}
	});

  $('#order-item-form').submit(function(e) {
    e.preventDefault();

    var qty = Math.ceil($('#item-qty', this).val());
    if (isNaN(qty) || qty <= 0) {
      alert('Please input correct qty.');
      return false;
    }

    var added_list = $('#' + $('#item-select-id', this).val()).prev('.dk-select').prev('ul.items');
    var new_item = $('<li/>').data('item', $('#item-title', this).data('item'));
    new_item.append($('<span/>').addClass('qty').text(qty + ' '));
    new_item.append($('<span/>').addClass('title').text($('#item-title', this).text() + ' ' + $('#item-descr strong', this).text()));
    //new_item.append($('<a href="javascript:void(0)"/>').addClass('comments').text($('#item-comment', this).val()).attr('title', $('#item-comment', this).val()));

    var data_order = {
      quantity: qty,
      comment: $('#item-comment', this).val(),
      additional: []
    };

    $('input.additional-check:checked', this).each(function() {
      var itemText = ' (+' + $(this).attr('data-text');
      if($(this).attr('data-price') > 0){
        itemText += ' $' + $(this).attr('data-price');
      }
      itemText += ')';
      $('.title', new_item).append($('<span/>').text(itemText));

      var additional = {
        text: $(this).attr('data-long-text'),
        price: $(this).attr('data-price')
      };
      data_order.additional.push(additional);
    });

    added_list.append(new_item.data('order', data_order));
    $.fancybox.close();

    new_item.click(function(e) {
      e.preventDefault();
      $(this).remove();
      return false;
    });
  });

  function calc_total() {
    var total = 0;
    $('.field.order-field ul.items > li').each(function() {
      var this_order_li = $(this);
      var unitprice = $(this).data('item').attr('data-price')*1;
      if (this_order_li.data('order').additional.length) {
        unitprice += Number($.map(this_order_li.data('order').additional, function(item) { return item.price}).reduce(function(pre,cur){return (pre*1)+(cur*1)}));
      }
      total += unitprice * $(this).data('order').quantity;
    });

    $('.quantifiable').each(function() {
      total += $(this).find('input').data('price') * $(this).find('input').val();
    });

    $('#order-view .total .price').text('$' + total);
    $('#order-total').val(total);

    return total;
  }
  $('#order-prepare').submit(function(e) {
    e.preventDefault();
    if(!$('#order_name').val()) {
      alert('Please input your Order Name.');
      $('#order_name').focus();
    }
    else if($('.field.order-field-sandwich ul.items li').length == 0) {
      alert('Please choose at least one sandwich.');
    }
    else {
      $('#order-prepare').slideUp();
      $('#order-submit').slideDown();

      $('#order-view-list').html('');
      $('.field.order-field ul.items > li').each(function() {
        var this_order_li = $(this);

        var new_order_item = $('<li/>');
        $('#order-view-list').append(new_order_item);

        var title_div = $('<div/>').addClass('title')
           .text(this_order_li.data('order').quantity + ' ' + this_order_li.data('item').text())
           .append($('<a href="javascript:void(0)" class="remove"/>').text('remove').click(function() {

              if($('.field.order-field-sandwich ul.items li').length == 1 && this_order_li.is('.field.order-field-sandwich ul.items li')) {
                alert('You need to order at least one sandwich.');
                return false;
              }
             this_order_li.remove();
             $(this).parent('div.title').parent('li').remove();
             calc_total();
           }))
           .prepend('<div class="price">$'+this_order_li.data('item').attr('data-price')+'</div>');

        var content_div = $('<div/>').addClass('content');
        var content = (this_order_li.data('item').attr('data-type') ? this_order_li.data('item').attr('data-type') + '<br />' : '') +
                      (this_order_li.data('item').attr('data-descr') ? this_order_li.data('item').attr('data-descr') : '');
        if (this_order_li.data('order').additional.length) {
          content += $.map(this_order_li.data('order').additional, function(item) {
            if(item.price > 0) {
              return '<div class="additional"><div class="price">+ $'+item.price+'</div><div class="label">+ '+item.text+'</div></div>';
            } else {
              return '<div class="additional"><div class="label">+ '+item.text+'</div></div>';
            }

          }).join('');
        }
        if (this_order_li.data('order').comment) {
          content += '<div class="comment">' + this_order_li.data('order').comment + '</div>';
        }
        content_div.html(content);

        new_order_item.append(title_div);
        new_order_item.append(content_div);
      });

      $('.quantifiable').each(function() {
        var new_order_item = $('<li/>');
        var this_order_input = $(this).find('input');
        if(this_order_input.val() > 0) {

          $('#order-view-list').append(new_order_item);

          var title_div = $('<div/>').addClass('title')
             .text(this_order_input.val() + ' ' + this_order_input.parent().text())
             .append($('<a href="javascript:void(0)" class="remove"/>').text('remove').click(function() {
               this_order_input.val('');
               $(this).parent('div.title').parent('li').remove();
               calc_total();
             }))
             .prepend('<div class="price">$'+ (this_order_input.attr('data-price') * this_order_input.val()) +'</div>');

          new_order_item.append(title_div);

        }
      });

      calc_total();

      return false;
    }
    location.hash="order-form";
    return false;
  });

  $('.order-edit').click(function(e) {
    e.preventDefault();
    $('#order-prepare').slideDown();
    $('#order-submit').slideUp();
    return false;
  });

	$('#order-submit').submit(function(e) {
    if($(this).is(':invalid')) {
      return false;
    } else {
      var order_summary = "";
      order_summary += "Order Name: " + $('#order_name').val() + "\n";
      order_summary += "Sandwiches: \n" + $.map($('.field.order-field-sandwich ul.items li'), function(item) {return '    ' + $(item).text().toUpperCase() + '\n' + $(item).data('order').comment; }).join('\n');

      if($('.field.order-field-salad ul.items li').length) {
        order_summary += "\nSalads: \n" + $.map($('.field.order-field-salad ul.items li'), function(item) {return '    ' + $(item).text().toUpperCase() + '\n' + $(item).data('order').comment; }).join('\n');
      }
      if($('.field.order-field-side ul.items li').length) {
        order_summary += "\nSides: \n" + $.map($('.field.order-field-side ul.items li'), function(item) {return '    ' + $(item).text().toUpperCase() + '\n' + $(item).data('order').comment; }).join('\n');
      }
      $('.quantifiable').each(function() {
        if($(this).find('input').val() > 0) {
          order_summary += '\n' + $(this).text() + ': ' + $(this).find('input').val();
        }
      });

      order_summary += "\nTotal: " + $('#order-view .total .price').text();
      $('#order-summary').val(order_summary);
		}
	});

  $("#see-photo").click(function() {
    $.fancybox.open([
      {% for gallery in galleries %}{% if gallery.name == "Catering Gallery" %}
        {% for image in gallery.images.all %}
          {
            href : '{{ image.image_url }}'
          }
          {% if not forloop.last %},{% endif %}
        {% endfor %}
      {% endif %}{% endfor %}
    ], {
      helpers : {
        thumbs : {
          width: 75,
          height: 50
        }
      },
      beforeShow : function() {
          this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length;
      }
    });
  });
});
</script>
{% endblock %}
