{% extends 'base.html' %}

{% block page_title %}{{account.site_title}} | Press{% endblock %}

{% block body_class %}page-press{% endblock %}

{% block content %}
<div id="content">
	<div class="width-wrapper">
		{% for press in press.all %}
			<div class="one-of-two {% cycle 'clear' 'last' %}">
				<article class="press-clipping">
					<div class="border-wrap">
						<div class="bar horizontal top"></div>
						<div class="bar vertical left"></div>
						<div class="bar vertical right"></div>
						<div class="bar horizontal bottom left"></div>
						<div class="bar horizontal bottom right"></div>
						<div class="img-wrap">
							<a href="{{ press.url }}" target="_blank" class="image full-background" style="background-image:url('{{ press.thumbnail_url }}')"></a>
						</div>
					</div>
					<div class="info">
						<div class="title-wrap"><a href="{{ press.url }}" target="_blank" class="title">{{ press.title }}</a></div>
						<div class="source">{{press.source}}</div>
					</div>
				</article>
			</div>
		{% endfor %}

		<div class="clear"></div>
	</div>
</div>
{% endblock %}