{% load account_staticfiles %}
{% load extra_tags %}

<!doctype html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <!-- POWERED BY BENTOBOX | http//getbento.com -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="Description" content="{% block meta_description %}{{ account.meta_description }}{% endblock %}">
  <meta name="Keywords" content="{% block meta_keywords %}{% endblock %} {{ account.meta_keywords }}">
  <meta name="Revisit-After" content="5 Days">
  <meta name="Distribution" content="Global">
  <meta name="Rating" content="General">
  <meta name="Copyright" content="© {{account.site_title}} 2014">	  

<title>{% block page_title %}{{account.site_title}}{% endblock %}</title>

<!-- <link rel="icon" type="image/png" href="{{ ACCOUNT_STATIC_URL }}favicon.ico"> -->

<link rel="stylesheet" href="{{ ACCOUNT_STATIC_URL }}css/fonts.css" />
<link rel="stylesheet" href="{{ ACCOUNT_STATIC_URL }}css/jquery.fancybox.css" />
<link rel="stylesheet" href="{{ ACCOUNT_STATIC_URL }}css/jquery.sidr.css" />
<link rel="stylesheet" href="{{ ACCOUNT_STATIC_URL }}css/style.css" />
{% block extra_font %}{% endblock %}

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type='text/javascript' src="{{ ACCOUNT_STATIC_URL }}js/jquery-1.11.1.min.js"></script>
<script type='text/javascript' src="{{ ACCOUNT_STATIC_URL }}js/jquery.sidr.min.js"></script>
<script type='text/javascript' src="{{ ACCOUNT_STATIC_URL }}js/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
{% if account.ga_code %}
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ account.ga_code }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
{% endif %}
var cur_page_url = '{{page_url}}';
</script>

</head>
<body class="{% block body_class %}{% endblock %}">
	<div id="delivery-wrap">
		<div class="delivery-button mobile-show">
			<div class="inner">
				<div class="delivery">delivery</div>
				<div class="order">ORDER NOW</div>
			</div>
		</div>
		<a class="close" href="javascript:void(0)"><img src="{{ ACCOUNT_STATIC_URL }}img/close.png" width="19" height="19" /></a>
		<div class="width-wrapper">
			<div class="title">Select Location</div>
			<div class="locations">
			{% for loc in locations %}
				{% if loc.short_name %}
					<a href="{{loc.short_name}}" class="location-{{loc.name|slugify}}" target="_blank">{{loc.name}}</a>
					<span class="sep"> · </span>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	<header>
		<div class="width-wrapper desktop-show">
			<div class="delivery-button">
				<div class="inner">
					<div class="delivery">delivery</div>
					<div class="order">ORDER NOW</div>
				</div>
			</div>
			<div class="social">
				{% for nav in navs.social.items.all %}
					{% if nav.target %}
						<a href="{{nav.target}}" target="_blank" class="{{nav.name|slugify}}"><img src="{{ ACCOUNT_STATIC_URL }}img/{{nav.name|slugify}}.png" width="26" height="26" /></a>
					{% endif %}
				{% endfor %}
			</div>
			<nav class="secondary-nav">
				{% for nav in footer_nav_items %}
					<a href="{% if nav.target %}{{ nav.target }}{% elif nav.template %}{{ nav.get_absolute_url }}{% else %}{% url 'static_page' nav.template_key %}{% endif %}" class="nav-{{nav.template_key}}" {% if nav.button_target %}target="{{nav.button_target}}"{% endif %}>{% if nav.type == "page" %}{{nav.name}}{% else %}{{ nav.text }}{% endif %}</a>
					{% if not forloop.last %}
						<span class="sep"> · </span>
					{% endif %}
				{% endfor %}
			</nav>
			<nav class="main-nav-wrap clear">
				<div class="left-border"></div>
				<div class="right-border"></div>

				<ul class="navigation">
				{% for nav in main_nav_items %}
					<li class="nav-{{nav.template_key}} {% if nav.template == current_page %}active{% endif %} {% if forloop.first %}nav-first{% endif %}">
						<a href="{% if nav.target %}{{ nav.target }}{% elif nav.template %}{{ nav.get_absolute_url }}{% else %}{% url 'static_page' nav.template_key %}{% endif %}">{% if nav.type == "page" %}{{nav.name}}{% else %}{{ nav.text }}{% endif %}</a>
					</li>

					{% if forloop.counter == 2 %}
						<li class="logo-wrap"><a href="/" class="logo" title="{{account.site_title}}"><img src="{{ ACCOUNT_STATIC_URL }}img/logo.png" width="277" height="170" ></a></li>
					{% endif %}
				{% endfor %}
				</ul>
			</nav>
		</div>
		<div class="mobile-show">
			<a href="/" class="logo"><img src="{{ ACCOUNT_STATIC_URL }}img/mobile-logo.png" width="92" height="43" /></a>
			<a href="javascript:void(0)" id="nav-button"><img src="{{ ACCOUNT_STATIC_URL }}img/nav-button.png" width="31" height="24" /></a>
			<div class="clear"></div>
		</div>
		{% block extra_header %}{% endblock %}
	</header>

	<section id="main-content">
	{% block content %}{% endblock %}
	</section>

<div style="display:none">
	<div id="signup-wrap">
		<h1>MAILING LIST</h1>
		<form id="signup-form" action="http://email.getbento.com/t/d/s/tiojd/" method="post">
			<div class="thank-you" style="display:none">Thank you for Subscribing to Us</div>
			<p><input id="fieldName" name="cm-name" type="text" class="form-text" placeholder="Your Name" /></p>
			<p><input id="fieldEmail" name="cm-tiojd-tiojd" type="email" class="form-text" required placeholder="Your Email" /></p>
			<p><button type="submit" class="button">SIGN UP</button></p>
		</form>
	</div>
	<div id="mobile-nav-wrap">
		<ul class="navigation">
		{% for nav in main_nav_items %}
			<li class="nav-{{nav.template_key}} {% if nav.template == current_page %}active{% endif %} {% if forloop.first %}nav-first{% endif %}">
				<a href="{% if nav.target %}{{ nav.target }}{% elif nav.template %}{{ nav.get_absolute_url }}{% else %}{% url 'static_page' nav.template_key %}{% endif %}">{% if nav.type == "page" %}{{nav.name}}{% else %}{{ nav.text }}{% endif %}</a>
			</li>
		{% endfor %}
		<img class="separator" src="{{ ACCOUNT_STATIC_URL }}img/nav-sep.png" width="215" />
		</ul>
		<ul class="secondary-nav">
			{% for nav in footer_nav_items %}
			<li>
				<a href="{% if nav.target %}{{ nav.target }}{% elif nav.template %}{{ nav.get_absolute_url }}{% else %}{% url 'static_page' nav.template_key %}{% endif %}" class="nav-{{nav.template_key}}" {% if nav.button_target %}target="{{nav.button_target}}"{% endif %}>{% if nav.type == "page" %}{{nav.name}}{% else %}{{ nav.text }}{% endif %}</a>
			</li>
			{% endfor %}
		</ul>
		<div class="social">
			{% for nav in navs.social.items.all %}
				{% if nav.target %}
					<a href="{{nav.target}}" target="_blank" class="{{nav.name|slugify}}"><img src="{{ ACCOUNT_STATIC_URL }}img/m-{{nav.name|slugify}}.png" width="34" height="34" /></a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% block footer %}
{% endblock %}

<script src="{{ ACCOUNT_STATIC_URL }}js/site.js"></script>

{% block footer_scripts %}{% endblock %}
<script type="text/javascript">
jQuery(document).ready(function($) {
window.onhashchange = function() {
	var fake_path = window.location.hash.split('/');
	if(fake_path.length) {
		$((fake_path.length > 1 ? '#' : '') + fake_path[fake_path.length-1]).trigger('fake_click');
	}
}
window.onhashchange();
});
</script>
</body>
</html>